#actions {
    float: right;
    margin: 2%;
    overflow: auto;
    padding: 0 1%;
    width: 24%;
}

.game-started #actions {
    display: inline-block;
}

#actions .button {
    border-radius: 30px;
    font-size: 175%;
    height: 3em;
    width: 100%;
}

#actions .next-player {
}

#actions .adjust-cash {
    font-size: 175%;
    margin: 0.5em 0;
    text-align: center;
    width: 100%;
}

#actions .adjust-cash .adjuster {
    box-shadow: 0 0 0;
    font-size: 1.33em;
    margin-top: 0.6em;
    padding: 0 0.2em;
    position: relative;
}

#actions .adjust-cash .add {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    left: 9px;
}

#actions .adjust-cash .minus {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    right: 9px;
}

#actions .adjust-cash input {
    border-color: rgb(204, 204, 204);
    border-style: solid none;
    border-width: 2px 0;
    font-size: 1.33em;
    text-align: center;
    width: 3em;
}

#actions .adjust-cash label {
    color: rgb(132, 132, 132);
    display: block;
    font-size: 0.5em;
    text-align: center;
}

#actions .payday {
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
}

#actions .payday-interest {
    background: linear-gradient(rgb(191, 50, 53), rgb(223, 51, 54));
    border: 2px solid rgb(149, 43, 44);
    border-top: 0;
    border-radius: 0 0 30px 30px;
    color: rgb(240, 240, 240);
    cursor: pointer;
    opacity: 0.2;
    padding: 0.5em 0;
    text-align: center;
    transition-property: opacity;
    transition-duration: 0.4s;
}

#actions .payday-interest.selected {
    opacity: 1;
}