#board {
    border: 2px solid rgb(134, 134, 134);
    float: left;
    margin: 2% 1%;
    width: 60%;
}

#board .player {
    border-bottom: 2px solid rgb(134, 134, 134);
    color: rgb(238, 238, 238);
    font-size: 150%;
    padding: 0.4em 1em 0.5em;
    overflow: auto;
}

#board .player .name {
    float: left;
}

#board .player .cash-change {
    float: right;
    position: relative;
}

#board .player .cash-change.gaining {
    color: rgb(93, 156, 70);
}

#board .player .cash-change.losing {
    color: rgb(223, 51, 54);
}

#board .player .cash-change.animating {
    position: absolute;
}

#board .main {
    float: left;
    height: 14em;
    overflow: hidden;
    padding: 2.5%;
    position: relative;
    width: 70%;
}

#board .main .action {
    margin-left: 1000%;
    transition-property: margin-left;
    transition-duration: 0.75s;
    transition-timing-function: ease;
}

#board .main .action.selected {
    margin-left: 0;
}

#board .main .action .button {
    display: block;
    margin: 0 0 1em 0;
    padding: 0.4em 0 0.5em;
    width: 75%;
}

#board .main .action .medium.button {
    font-size: 1.5em;
}

#board .main .action .skip.button {
}



#board .spaces {
    float: right;
    font-size: 125%;
    text-align: center;
    width: 25%;
}




#actions .board .action .button {
    height: 100%;
    width: 100%;
}

#actions .board .action .large.button {
    font-size: 2em;
}

#actions .board .action.insurance {
    width: 100%;
}

#actions .board .action.insurance.selected {
    margin-left: -45%;
}

#actions .board .action.jobs {
    left: 2%;
    top: 11%;
    width: 100%;
}

#actions .board .action.jobs .row {
    margin: 0 0 2em 6%;
    overflow: auto;
    width: 100%;
}

#actions .board .action.jobs .row.single {
    margin-left: 34%;
}

#actions .board .action.jobs .job {
    background-color: rgb(136, 136, 136);
    background: linear-gradient(rgb(51, 51, 51), rgb(102, 102, 102) );
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 1.5em;
    opacity: 0.2;
    padding: 0.1em 0.35em 0.2em;
    text-align: center;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    width: 25%;
}

#actions .board .action.jobs .job.first {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#actions .board .action.jobs .job.last {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#actions .board .action.jobs .job.selected {
    opacity: 1;
}