#board {
    border: 2px solid rgb(134, 134, 134);
    float: left;
    margin: 2% 1%;
    width: 60%;
}

#board .player {
    border-bottom: 2px solid rgb(134, 134, 134);
    color: rgb(238, 238, 238);
    font-size: 150%;
    padding: 0.4em 1em 0.5em;
    overflow: auto;
}

#board .player .name {
    float: left;
}

#board .player .cash-change {
    float: right;
    position: relative;
}

#board .player .cash-change.gaining {
    color: rgb(93, 156, 70);
}

#board .player .cash-change.losing {
    color: rgb(223, 51, 54);
}

#board .player .cash-change.animating {
    position: absolute;
}

#board .main {
    float: left;
    height: 20em;
    overflow: hidden;
    padding: 2.5%;
    position: relative;
    width: 70%;
}

#board .main .action {
    left: 500%;
    margin-left: 1.5em;
    position: absolute;
    transition-property: left;
    transition-duration: 0.75s;
    transition-timing-function: ease;
    width: 100%;
}

#board .main .action.selected {
    left: 0;
}

#board .main .action .button {
    display: block;
    margin: 0 0 1em 0;
    padding: 0.4em 0 0.5em;
    width: 75%;
}

#board .main .action .large.button {
    font-size: 2em;
}

#board .main .action .medium.button {
    font-size: 1.5em;
}

#board .main .action .skip.button {
}

#board .main .action .selectable.button {
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

#board .main .action .job.button {
    font-size: 1em;
    margin-bottom: 0.4em;
    opacity: 0.2;
    width: 50%;
}

#board .main .action .job.button.selected {
    opacity: 1;
}

#board .main .action.toll-bridge .message {
    color: rgb(240, 240, 240);
    display: none;
    font-size: 175%;
}

#board .main .action.toll-bridge.owner .owner {
    display: block;
}

#board .main .action.toll-bridge.crossed .crossed {
    display: block;
}

#board .main .action.toll-bridge.owner .execute,
#board .main .action.toll-bridge.crossed .execute {
    display: none;
}

#board .main .millionaire .choose-lucky-number,
#board .main .millionaire .is-millionaire {
    display: none;
}

#board .main .millionaire.first .choose-lucky-number,
#board .main .millionaire.later .is-millionaire {
    display: block;
}

#board .main .millionaire.first .execute,
#board .main .millionaire.later .execute {
    display: none;
}

#board .main .millionaire h2 {
    color: rgb(240, 240, 240);
    font-size: 150%;
    margin-bottom: 0.75em;
}

#board .main .millionaire .lucky-number {
    display: inline-block;
    font-size: 125%;
    margin-right: 0.25em;
    opacity: 0.2;
    padding: 0.25em 0.4em 0.3em;
    width: auto;
}

#board .main .millionaire .lucky-number.selected {
    opacity: 1;
}

#board .categories {
    float: right;
    font-size: 125%;
    height: 20em;
    text-align: center;
    width: 25%;
}

#board .categories .category {
    border-color: rgb(134, 134, 134);
    border-style: solid;
    border-width: 0 0 2px 2px;
    color: rgb(240, 240, 240);
    cursor: pointer;
    height: 2.35em;
    padding-top: 18px;
}

#board .categories .category:hover {
    background-color: rgb(51, 51, 51);
}

#board .categories .lucky.number.category {
    border-bottom-width: 0;
}