button {
    border-radius: 12px;
    box-shadow: 2px 2px 1px rgb(102, 102, 102);
    color: rgb(240, 240, 240);
    cursor: pointer;
    outline: none;
    padding: 2px 8px 3px;
    position: relative;
    text-shadow: 2px 2px 3px rgb(17, 17, 17);
}

button:active {
    box-shadow: 1px 1px 1px rgb(102, 102, 102);
    top: 1px;
}

button.red {
    border: 2px solid rgb(149, 43, 44);
}

button.orange {
    border: 2px solid rgb(238, 156, 51);
}

button.green {
    border: 2px solid rgb(34, 87, 38);
}

button.blue {
    border: 2px solid rgb(0, 0, 127);
}

button.grey {
    border: 2px solid rgb(26, 26, 26);
}

button.lightblue {
    border: 2px solid rgb(110, 169, 245);
}

button.pink {
    border: 2px solid rgb(217, 145, 158);
}

button.gold {
    border: 2px solid rgb(166, 106, 0);
}