body,h1,h2,h3,h4,h5,h6,p {
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(34, 34, 34);
    color: rgb(102, 102, 102);
    font-family: Verdana;
    overflow-x: hidden;
}

#version {
    color: rgba(255, 255, 255, 1);
    font-size: 0.6em;
    position: absolute;
    right: 1.6em;
    top: 1em;
    z-index: 1;
}

.hidden {
    display: none;
}

.icon {
    cursor: pointer;
}

.red {
    background: linear-gradient(rgb(223, 51, 54), rgb(191, 50, 53));
}

.red:hover {
    background: linear-gradient(rgb(191, 50, 53), rgb(223, 51, 54));
}

.orange {
    background: linear-gradient(rgb(255, 200, 100), rgb(255, 165, 0));
}

.orange:hover {
    background: linear-gradient(rgb(255, 165, 0), rgb(255, 200, 100));
}

.green {
    background: linear-gradient(rgb(93, 156, 70), rgb(61, 104, 50));
}

.green:hover {
    background: linear-gradient(rgb(61, 104, 50), rgb(93, 156, 70));
}

.blue {
    background: linear-gradient(rgb(0, 0, 255), rgb(0, 0, 127));
}

.blue:hover {
    background: linear-gradient(rgb(0, 0, 127), rgb(0, 0, 255));
}

.lightblue {
    background: linear-gradient(rgb(188, 210, 238), rgb(142, 184, 237));
    color: rgb(51, 51, 51);
    text-shadow: 2px 2px 3px rgb(232, 232, 232);
}

.lightblue:hover {
    background: linear-gradient(rgb(142, 184, 237), rgb(188, 210, 238));
}

.grey {
    background: linear-gradient(rgb(102, 102, 102), rgb(51, 51, 51));
}

.grey:hover {
    background: linear-gradient(rgb(51, 51, 51), rgb(102, 102, 102));
}

.pink {
    background: linear-gradient(rgb(250, 212, 219), rgb(255, 192, 203));
    color: rgb(51, 51, 51);
    text-shadow: 2px 2px 3px rgb(232, 232, 232);
}

.pink:hover {
    background: linear-gradient(rgb(255, 192, 203), rgb(250, 212, 219));
}

.gold {
    background: linear-gradient(rgb(255, 162, 0), rgb(255, 186, 64));
    color: rgb(51, 51, 51);
    text-shadow: 2px 2px 3px rgb(204, 204, 204);
}

.gold:hover {
    background: linear-gradient(rgb(255, 186, 64), rgb(255, 162, 0));
}
