#game {
    
}

#game .player {
    border-radius: 16px 16px 0 0;
    border-style: solid;
    border-width: 2px;
    box-shadow: 4px 4px 6px rgb(102, 102, 102);
    margin: 2em 1em;
    position: relative;
    width: 40em;
}

#game .player.light {
    color: rgb(238, 238, 238);
}

#game .player.dark {
    color: rgb(17, 17, 17);
}

#game .player .name {
    float: left;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    padding: 0.5em 0 0 1em;
    top: 0.6em;
}

#game .player .cash {
    float: right;
    font-size: 1.5em;
    height: 1.5em;
    overflow: hidden;
    padding: 0.5em 1em 0 0;
    position: relative;
    width: 5em;
}

#game .player .cash .amount {
    position: absolute;
    text-align: right;
    top: 0.6em;
    transition-property: top;
    transition-duration: 0;
    transition-timing-function: ease;
    width: 95%;
}

#game .player .cash .change {
    visibility: hidden;
}

#game .player .cash.adding.init .change {
    top: -3em;
}

#game .player .cash.subtracting.init .change {
    top: 3em;
}

#game .player .cash.init.moving .current {
    transition-duration: 0.5s;
}

#game .player .cash.adding.init.moving .current {
    top: 3em;
}

#game .player .cash.subtracting.init.moving .current {
    top: -3em;
}

#game .player .cash.init.moving .change,#game .player .cash.reset .change
    {
    top: 0.6em;
    transition-duration: 0.5s;
    visibility: visible;
}

#game .player .cash.reset .current {
    transition-duration: 0;
    visibility: hidden;
}

#game .player .cash.adding.reset .current {
    top: -3em;
}

#game .player .cash.subtracting.reset .current {
    top: 3em;
}

#game .player .cash.reset.moving .current {
    top: 0.6em;
    transition-duration: 0.5s;
    visibility: visible;
}

#game .player .cash.reset.moving .change {
    transition-duration: 0.5s;
    visibility: visible;
}

#game .player .cash.adding.reset.moving .change {
    top: 3em;
}

#game .player .cash.subtracting.reset.moving .change {
    top: -3em;
}

#game .player .assets {
    background-color: rgb(255, 255, 255);
    overflow: auto;
}

#game .player .insurance {
    background-color: white;
    clear: both;
    float: left;
    font-size: 1.1em;
    overflow: auto;
    padding: 1em;
}

#game .player .insurance .choice {
    border-left: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    cursor: pointer;
    float: left;
    opacity: 0.2;
    padding: 0.1em 0.25em 0.2em;
    text-align: center;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    width: 4em;
}

#game .player .insurance .choice.added {
    opacity: 1;
}

#game .player .insurance .choice:first-child {
    border-radius: 12px 0 0 12px;
}

#game .player .insurance .choice:last-child {
    border-radius: 0 12px 12px 0;
}

#game .player .insurance .auto {
    background-color: orange;
}

#game .player .insurance .life {
    background-color: blue;
}

#game .player .insurance .fire {
    background-color: red;
}

#game .player .insurance .stock {
    background-color: green;
}

#game .player .toll-owner {
    float: right;
    font-size: 1.1em;
    padding: 1em;
}

#game .player .toll-owner .crossed {
    background-color: rgb(136, 136, 136);
    background: linear-gradient(rgb(51, 51, 51), rgb(102, 102, 102) );
    border-radius: 12px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    opacity: 0.2;
    padding: 0.1em 0.75em 0.2em;
    text-align: center;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

#game .player .toll-owner .crossed.selected {
    opacity: 1;
}

#game .player .jobs {
    background-color: white;
    clear: both;
    font-size: 1.1em;
    overflow: auto;
    padding: 1em 2% 0;
    text-align: center;
    width: 96%;
}

#game .player .jobs .job {
    background-color: rgb(136, 136, 136);
    background: linear-gradient(rgb(51, 51, 51), rgb(102, 102, 102) );
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    opacity: 0.2;
    padding: 0.1em 0.35em 0.2em;
    text-align: center;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

#game .player .jobs .job.selected {
    opacity: 1;
}

#game .player .jobs .job:first-child {
    border-left-width: 2px;
    border-radius: 12px 0 0 12px;
}

#game .player .jobs .job:last-child {
    border-right-width: 2px;
    border-radius: 0 12px 12px 0;
}

#game .player .marriage-presents {
    background-color: white;
    padding: 0.5em 1em 1em;
}

#game .player .marriage-presents label {
    color: #848484;
    display: inline-block;
    font-size: 1em;
    margin-right: 1em;
}

#game .player .marriage-presents .presents {
    font-size: 1em;
    margin-right: 1em;
}


#game .player .actions {
    background-color: white;
    overflow: auto;
    padding: 0.5em 2% 1em;
    text-align: center;
    width: 96%;
}

#game .player .actions .action {
    font-size: 0.9em;
    margin-right: 1em;
}

#game .player .children {
    background-color: white;
    overflow: auto;
    padding: 0.5em 1em 1em;
}

#game .player .children .boy {
    float: left;
}

#game .player .children .girl {
    float: right;
}

#game .player .children .summary {
    color: rgb(51, 51, 51);
    margin-top: 0.1em;
    text-align: center;
}

#game .player .pay {
    height: 6em;
    position: absolute;
    right: -22.5em;
    top: 25%;
}

#game .player .payday {
    border-radius: 30px;
    font-size: 1.4em;
    height: 3em;
    text-align: center;
    width: 7em;
    z-index: 2;
}

#game .player .interest {
    border-radius: 30px;
    padding-top: 4em;
    position: relative;
    right: 14.3em;
    top: 16%;
    transition-property: top;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    width: 14.2em;
    z-index: 1;
}

#game .player .interest.displayed {
    top: 40%;
}

#game .player .adjust-cash {
    font-size: 1.5em;
    position: absolute;
    right: -9em;
    top: 0.4em;
}

#game .player .adjust-cash .adjuster {
    box-shadow: 0 0 0;
    font-size: 1.33em;
    padding: 0 0.2em;
}

#game .player .adjust-cash .add {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#game .player .adjust-cash .minus {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#game .player .adjust-cash input {
    border-color: rgb(204, 204, 204);
    border-style: solid;
    border-width: 2px 0;
    font-size: 1.33em;
    text-align: center;
    width: 3em;
}

#game .player .adjust-cash label {
    color: rgb(132, 132, 132);
    display: block;
    font-size: 0.5em;
    text-align: center;
}