#game {
    
}

#game .player {
    border-radius: 16px 16px 0 0;
    border-style: solid;
    border-width: 2px;
    box-shadow: 4px 4px 6px rgb(102, 102, 102);
    margin: 2em 1em;
    position: relative;
    width: 40.2em;
}

#game .player.light {
    color: rgb(238, 238, 238);
}

#game .player.dark {
    color: rgb(17, 17, 17);
}

#game .player .name {
    float: left;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    padding: 0.5em 0 0 1em;
    top: 0.6em;
}

#game .player .summary {
    background-color: white;
    clear: both;
    color: rgb(68, 68, 68);
    padding: 1em;
}

/*
#game .player .assets {
    background-color: rgb(255, 255, 255);
    overflow: auto;
}

#game .player .toll-owner {
    float: right;
    font-size: 1.1em;
    padding: 1em;
}

#game .player .toll-owner .crossed {
    background-color: rgb(136, 136, 136);
    background: linear-gradient(rgb(51, 51, 51), rgb(102, 102, 102) );
    border-radius: 12px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    opacity: 0.2;
    padding: 0.1em 0.75em 0.2em;
    text-align: center;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

#game .player .toll-owner .crossed.selected {
    opacity: 1;
}


#game .player .actions {
    background-color: white;
    overflow: auto;
    padding: 0.5em 2% 1em;
    text-align: center;
    width: 96%;
}

#game .player .actions .action {
    font-size: 0.9em;
    margin-right: 1em;
}
*/

#game .player .pay {
    height: 6em;
    position: absolute;
    right: -22.5em;
    top: 4em;
}

#game .player .payday {
    border-radius: 30px;
    font-size: 1.4em;
    height: 3em;
    text-align: center;
    width: 7em;
    z-index: 2;
}

#game .player .interest {
    border-radius: 30px;
    padding-top: 4em;
    position: relative;
    right: 14.3em;
    top: 16%;
    transition-property: top;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    width: 14.2em;
    z-index: 1;
}

#game .player .interest.displayed {
    top: 40%;
}

#game .player .adjust-cash {
    font-size: 1.5em;
    position: absolute;
    right: -9em;
    top: 0.4em;
}

#game .player .adjust-cash .adjuster {
    box-shadow: 0 0 0;
    font-size: 1.33em;
    padding: 0 0.2em;
}

#game .player .adjust-cash .add {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#game .player .adjust-cash .minus {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#game .player .adjust-cash input {
    border-color: rgb(204, 204, 204);
    border-style: solid;
    border-width: 2px 0;
    font-size: 1.33em;
    text-align: center;
    width: 3em;
}

#game .player .adjust-cash label {
    color: rgb(132, 132, 132);
    display: block;
    font-size: 0.5em;
    text-align: center;
}