#scoreboard {
    position: relative;
    height: 4em;
    width: 100%;
}

#scoreboard .icon {
    display: inline-block;
    height: 16px;
    margin-right: 0.25em;
    position: relative;
    width: 16px;
}

.game-started #scoreboard .actions {
    display: none;
}

#scoreboard .actions {
    margin-top: 0.5em;
    text-align: center;
    width: 100%;
}

#scoreboard .arrow.left {
    background-image: url("../images/arrow-180.png");
}

#scoreboard .arrow.right {
    background-image: url("../images/arrow-000.png");
}

#scoreboard .arrow.left.first {
    display: none;
}

#scoreboard .arrow.right.last {
    display: none;
}

#scoreboard .delete {
    background-image: url("../images/minus-button.png");
}

#scoreboard .player-container {
    float: left;
    position: relative;
    text-align: center;
}

#scoreboard.one-player .player-container {
    width: 100%;
}

#scoreboard.two-players .player-container {
    width: 50%;
}

#scoreboard.three-players .player-container {
    width: 33.33%;
}

#scoreboard.four-players .player-container {
    width: 25%;
}

#scoreboard.five-players .player-container {
    width: 20%;
}

#scoreboard.six-players .player-container {
    width: 16.66%;
}

#scoreboard.seven-players .player-container {
    width: 14.28%;
}

#scoreboard .player {
    float: left;
    height: 100%;
    padding: 0.25em 0;
    transition-property: font-size;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    width: 100%;
}

#scoreboard .player-container.has-turn .player {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    font-size: 133%;
}

#scoreboard .player.light {
    color: rgb(238, 238, 238);
}

#scoreboard .player.dark {
    color: rgb(17, 17, 17);
}

#scoreboard .player[data-color="C90000"] {
    background-color: #C90000;
}

#scoreboard .player[data-color="FFC0CB"] {
    background-color: #FFC0CB;
}

#scoreboard .player[data-color="EE8833"] {
    background-color: #EE8833;
}

#scoreboard .player[data-color="009900"] {
    background-color: #009900;
}

#scoreboard .player[data-color="1A65A0"] {
    background-color: #1A65A0;
}

#scoreboard .player[data-color="BCD2EE"] {
    background-color: #BCD2EE;
}

#scoreboard .player[data-color="FFFFFF"] {
    background-color: #FFFFFF;
}

#scoreboard .player .cash {
    display: none;
}

.game-started #scoreboard .player .cash {
    display: block;
}

#cash-change {
    display: none;
    font-size:  1.25em;
    margin-top: 32px;
    position: absolute;
    right: -2.5em;
}

#cash-change.gaining {
    color: rgb(93, 156, 70);
}

#cash-change.losing {
    color: rgb(223, 51, 54);
}
