#scoreboard {
    float: left;
    padding: 1em;
    position: relative;
    width: 40%;
}

#scoreboard .icon {
    cursor: pointer;
    height: 16px;
    position: relative;
    top: 1.2em;
    width: 16px;
}

.game-started #scoreboard .icon {
    display: none;
}

#scoreboard .arrow {
    float: left;
}

#scoreboard .arrow.up {
    background-image: url("../images/arrow-090.png");
}

#scoreboard .arrow.down {
    background-image: url("../images/arrow-270.png");
}

#scoreboard .arrow.up.first {
    opacity: 0;
}

#scoreboard .arrow.up.last {
    margin-left: 16px;
}

#scoreboard .arrow.down.last {
    display: none;
}

#scoreboard .delete {
    background-image: url("../images/minus-button.png");
    float: right;
}

#scoreboard .player-container {
    overflow: auto;
    position: relative;
}

#scoreboard .player-container.has-turn .player {
    width: 90%;
}

#scoreboard .player {
    border-radius: 12px;
    border-style: solid;
    border-width: 2px;
    float: left;
    font-size: 1.5em;
    margin: 0 0 0.5em 0.25em;
    overflow: auto;
    transition-property: width;
    transition-duration: 0.5s;
    width: 85%;
}

#scoreboard .player.light {
    color: rgb(238, 238, 238);
}

#scoreboard .player.dark {
    color: rgb(17, 17, 17);
}

#scoreboard .player[data-color="C90000"] {
    background-color: #C90000;
    border-color: #C90000;
}

#scoreboard .player[data-color="FFC0CB"] {
    background-color: #FFC0CB;
    border-color: #FFC0CB;
}

#scoreboard .player[data-color="EE8833"] {
    background-color: #EE8833;
    border-color: #EE8833;
}

#scoreboard .player[data-color="009900"] {
    background-color: #009900;
    border-color: #009900;
}

#scoreboard .player[data-color="1A65A0"] {
    background-color: #1A65A0;
    border-color: #1A65A0;
}

#scoreboard .player[data-color="BCD2EE"] {
    background-color: #BCD2EE;
    border-color: #BCD2EE;
}

#scoreboard .player[data-color="FFFFFF"] {
    background-color: #FFFFFF;
    border-color: #666666;
}


#scoreboard .player .name {
    float: left;
    margin-bottom: 0.5em;
    padding: 0.5em 0 0 1em;
    top: 0.6em;
}

#scoreboard .player .cash {
    float: right;
    padding: 0.5em 0 0 0;
    position: relative;
    width: 5em;
}

#cash-change {
    display: none;
    font-size:  1.25em;
    margin-top: 32px;
    position: absolute;
    right: -2.5em;
    transition-property: right;
    transition-duration: 1s;
    transition-delay: 1s;
    transition-timing-function: ease;
}

#cash-change.gaining {
    color: rgb(93, 156, 70);
}

#cash-change.losing {
    color: rgb(223, 51, 54);
}

#cash-change.is-animating {
    right: 8em;
}

.game-started #cash-change {
    display: block;
}