#scoreboard {
    position: relative;
    width: 100%;
}

#scoreboard .icon {
    height: 16px;
    margin-right: 0.25em;
    position: relative;
    top: 0.6em;
    width: 16px;
}

.game-started #scoreboard .icon {
    display: none;
}

#scoreboard .arrow {
    float: right;
}

#scoreboard .arrow.left {
    background-image: url("../images/arrow-180.png");
}

#scoreboard .arrow.right {
    background-image: url("../images/arrow-000.png");
}

#scoreboard .arrow.left.first {
    display: none;
}

#scoreboard .arrow.right.last {
    display: none;
}

#scoreboard .delete {
    background-image: url("../images/minus-button.png");
    float: right;
}

#scoreboard .player-container {
    float: left;
    overflow: auto;
    position: relative;
}

#scoreboard.one-player .player-container {
    width: 100%;
}

#scoreboard.two-players .player-container {
    width: 50%;
}

#scoreboard.three-players .player-container {
    width: 33.33%;
}

#scoreboard.four-players .player-container {
    width: 25%;
}

#scoreboard.five-players .player-container {
    width: 20%;
}

#scoreboard.six-players .player-container {
    width: 16.66%;
}

#scoreboard.seven-players .player-container {
    width: 14.28%;
}

#scoreboard .player-container.has-turn {
    box-shadow: 0 12px 8px 0 rgb(224, 224, 224, 0.75);
}

#scoreboard .player {
    float: left;
    width: 100%;
}

#scoreboard .player.light {
    color: rgb(238, 238, 238);
}

#scoreboard .player.dark {
    color: rgb(17, 17, 17);
}

#scoreboard .player[data-color="C90000"] {
    background-color: #C90000;
}

#scoreboard .player[data-color="FFC0CB"] {
    background-color: #FFC0CB;
}

#scoreboard .player[data-color="EE8833"] {
    background-color: #EE8833;
}

#scoreboard .player[data-color="009900"] {
    background-color: #009900;
}

#scoreboard .player[data-color="1A65A0"] {
    background-color: #1A65A0;
}

#scoreboard .player[data-color="BCD2EE"] {
    background-color: #BCD2EE;
}

#scoreboard .player[data-color="FFFFFF"] {
    background-color: #FFFFFF;
}


#scoreboard .player .name {
    float: left;
    margin-bottom: 0.5em;
    padding: 0.5em 0 0 1em;
    top: 0.6em;
}

#scoreboard .player .cash {
    display: none;
    float: right;
    padding: 0.5em 0 0 0;
    position: relative;
    width: 5em;
}

.game-started #scoreboard .player .cash {
    display: inline-block;
}

#next-player {
    border-radius: 30px;
    font-size: 150%;
    height: 3em;
}

#cash-change {
    display: none;
    font-size:  1.25em;
    margin-top: 32px;
    position: absolute;
    right: -2.5em;
}

#cash-change.gaining {
    color: rgb(93, 156, 70);
}

#cash-change.losing {
    color: rgb(223, 51, 54);
}

#cash-change.is-animating {
    right: 8em;
}

.game-started #cash-change {
    display: block;
}