#setup {
    background-color: rgb(85, 85, 85);
    color: rgb(227, 227, 227);
    overflow: auto;
    padding: 1em;
}

.game-started #setup {
    height: 0;
    overflow: hidden;
    padding: 2em 1em 0;
}

#setup input {
    float: left;
    font-size: 1.4em;
    margin-right: 1em;
    width: 19.5em;
}

#setup .swatches {
    clear: left;
    float: left;
    margin-top: 1em;
}

#setup .swatch {
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 3em;
    margin-right: 1em;
    opacity: 0.2;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    width: 3em;
}

#setup .swatch[data-color='C90000'] {
  background-color: #C90000;
}

#setup .swatch[data-color='FFC0CB'] {
  background-color: #FFC0CB;
}

#setup .swatch[data-color='EE8833'] {
  background-color: #EE8833;
}

#setup .swatch[data-color='009900'] {
  background-color: #009900;
}

#setup .swatch[data-color='1A65A0'] {
  background-color: #1A65A0;
}

#setup .swatch[data-color='BCD2EE'] {
  background-color: #BCD2EE;
}

#setup .swatch[data-color='FFFFFF'] {
  background-color: #FFFFFF;
}


#setup .swatch:hover {
    box-shadow: 0 0 6px rgb(255, 255, 255);
    opacity: 0.5;
}

#setup .swatch.selected {
    box-shadow: 0 0 12px rgb(255, 255, 255);
    opacity: 1;
}

#setup .swatch.disabled {
    background-color: rgb(104, 104, 104);
    box-shadow: none;
    cursor: default;
    opacity: 0.2;
}

#setup.collapsed .swatch {
    box-shadow: 0 0 0;
}

#setup button {
    font-size: 1.5em;
    margin: 0.75em 0 0 1em;
    padding: 0.5em;
}


#re-setup {
    color: rgb(208, 208, 208);
    cursor: pointer;
    display: none;
    float: right;
    position: absolute;
    left: 3.2em;
    top: 0.25em;
}

.game-started #re-setup {
    display: inline-block;
}

#re-setup:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 12px rgb(255, 255, 255)
}