#newPlayer {
    background-color: rgb(85, 85, 85);
    color: rgb(227, 227, 227);
    overflow: auto;
    padding: 1em;
    transition-property: height padding;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

#newPlayer.collapsed {
    height: 0;
    overflow: hidden;
    padding: 2em 1em 0;
}

#newPlayer input {
    float: left;
    font-size: 1.4em;
    margin-right: 1em;
    width: 19.5em;
}

#newPlayer .swatches {
    clear: left;
    float: left;
    margin-top: 1em;
}

#newPlayer .swatch {
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 3em;
    margin-right: 1em;
    opacity: 0.2;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    width: 3em;
}

#newPlayer .swatch:hover {
    box-shadow: 0 0 6px rgb(255, 255, 255);
    opacity: 0.5;
}

#newPlayer .swatch.selected {
    box-shadow: 0 0 12px rgb(255, 255, 255);
    opacity: 1;
}

#newPlayer.collapsed .swatch {
    box-shadow: 0 0 0;
}

#newPlayer .add {
    font-size: 1.5em;
    margin: 0.4em 0 0 1em;
    padding: 0.5em;
}

#newPlayer .toggler {
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    float: right;
    height: 3em;
    position: relative;
    top: 1em;
    transition-property: height width;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    width: 3em;
}

#newPlayer .toggler.hide {
    background-image: url("../images/arrow-090.png");
}

#newPlayer .toggler.show {
    background-image: url("../images/arrow-270.png");
    height: 1.75em;
    right: 2.5em;
    top: -2em;
    width: 1.75em;
}